<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/  file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" title="Menu" label="Openbox 3">
<!--	<separator label="Main Menu"/>  -->
		<item label="Terminal Emulator">
			<action name="Execute">
				<command>termite</command>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<command>midori</command>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<command>thunar</command>
			</action>
		</item>
		<item label="Text Editor">
			<action name="Execute">
				<command>geany</command>
			</action>
		</item>
		<separator/>
		<menu execute="obmenu-generator" id="app-menu" label="Applications"/>
		<menu id="root-menu-8397" label="Apps As Root">
			<item label="Terminal (termite)">
				<action name="Execute">
					<execute>apps_as_root.sh termite</execute>
				</action>
			</item>
			<item label="File Manager (thunar)">
				<action name="Execute">
					<execute>apps_as_root.sh 'dbus-run-session thunar'</execute>
				</action>
			</item>
			<item label="Text Editor (geany)">
				<action name="Execute">
					<execute>apps_as_root.sh geany</execute>
				</action>
			</item>
			<item label="Text Editor Alt (leafpad)">
				<action name="Execute">
					<execute>apps_as_root.sh leafpad</execute>
				</action>
			</item>
			<item label="File Manager CLI (ranger)">
				<action name="Execute">
					<execute>apps_as_root.sh 'termite -e ranger'</execute>
				</action>
			</item>
			<item label="Text Editor CLI (vim)">
				<action name="Execute">
					<execute>apps_as_root.sh 'termite -e vim'</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-srct" label="Shortcuts">
			<item label="Color Chooser">
				<action name="Execute">
					<execute>color_picker</execute>
				</action>
			</item>
			<item label="Stick Notes">
				<action name="Execute">
					<execute>tasks</execute>
				</action>
			</item>
			<item label="Comfy Terminal">
				<action name="Execute">
					<execute>termite -c ~/.config/termite/config_easy</execute>
				</action>
			</item>
			<item label="Music Player">
				<action name="Execute">
					<execute>termite -e ncmpcpp</execute>
				</action>
			</item>
			<item label="Visualizer">
				<action name="Execute">
					<execute>termite -e 'ncmpcpp -s visualizer'</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-8399" label="Quick Links">
			<item label="DuckDuckGo">
				<action name="Execute">
					<execute>midori -a https://start.duckduckgo.com/</execute>
				</action>
			</item>
			<item label="Google">
				<action name="Execute">
					<execute>midori -a https://www.google.com</execute>
				</action>
			</item>
			<item label="Facebook">
				<action name="Execute">
					<execute>midori -a https://www.facebook.com</execute>
				</action>
			</item>
			<item label="Twitter">
				<action name="Execute">
					<execute>midori -a https://www.twitter.com</execute>
				</action>
			</item>
			<item label="GitHub">
				<action name="Execute">
					<execute>midori -a https://www.github.com</execute>
				</action>
			</item>
			<item label="Reddit">
				<action name="Execute">
					<execute>midori -a https://www.reddit.com</execute>
				</action>
			</item>
			<item label="Gmail">
				<action name="Execute">
					<execute>midori -a https://mail.google.com</execute>
				</action>
			</item>
			<item label="Youtube">
				<action name="Execute">
					<execute>midori -a https://www.youtube.com</execute>
				</action>
			</item>
			<separator/>
			<item label="Private">
				<action name="Execute">
					<execute>midori -p</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-8365" label="Screenshot">
			<item label="Screenshot Now">
				<action name="Execute">
					<execute>shotnow</execute>
				</action>
			</item>
			<item label="Screenshot In 5s">
				<action name="Execute">
					<execute>shotin5</execute>
				</action>
			</item>
			<item label="Screenshot In 10s">
				<action name="Execute">
					<execute>shotin10</execute>
				</action>
			</item>
			<item label="Screenshot Area">
				<action name="Execute">
					<execute>shotArea</execute>
				</action>
			</item>
			<item label="Screenshot Window">
				<action name="Execute">
					<execute>shotWindow</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu execute="ob-places-pipemenu --recent ~/" id="pipe-placesmenu" label="Places"/>
		<menu execute="ob-recent-files-pipemenu" id="pipe-164328" label="Recent Files"/>
		<menu id="preferences" label="Preferences">
			<menu id="obConfig" label="Openbox">
				<item label="Settings">
					<action name="Execute">
						<command>obconf</command>
					</action>
				</item>
				<separator/>
				<item label="Edit menu.xml">
					<action name="Execute">
						<command>exo-open ~/.config/openbox/menu.xml</command>
					</action>
				</item>
				<item label="Edit rc.xml">
					<action name="Execute">
						<command>exo-open ~/.config/openbox/rc.xml</command>
					</action>
				</item>
				<item label="Edit autostart">
					<action name="Execute">
						<command>exo-open ~/.config/openbox/autostart</command>
					</action>
				</item>
				<separator/>
				<item label="Openbox Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Openbox Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu execute="ob-compositor" id="CompositingPipeMenu" label="Compositor"/>
			<separator/>
			<menu execute="change_style.sh" id="StylePipeMenu" label="Change Style"/>
			<menu execute="change_font.sh" id="FontPipeMenu" label="Change Font"/>
			<menu execute="change_launcher.sh" id="LauncherPipeMenu" label="Change Launcher"/>
			<menu execute="change_powermenu.sh" id="PmenuPipeMenu" label="Change Powermenu"/>
			<separator/>
			<menu execute="canvas_ob" id="CanvasPipeMenu" label="Generate Wallpaper"/>
			<item label="Change Wallpaper">
				<action name="Execute">
					<command>nitrogen</command>
				</action>
			</item>
			<item label="Appearance Settings">
				<action name="Execute">
					<command>xfce4-appearance-settings</command>
				</action>
			</item>
			<separator/>
			<item label="Power Settings">
				<action name="Execute">
					<command>xfce4-power-manager-settings</command>
				</action>
			</item>
			<item label="Audio Settings">
				<action name="Execute">
					<command>pavucontrol</command>
				</action>
			</item>
			<item label="Settings Manager">
				<action name="Execute">
					<command>xfce4-settings-manager</command>
				</action>
			</item>
			<separator/>
			<item label="About Developer">
				<action name="Execute">
					<execute>about.sh</execute>
				</action>
			</item>
			<menu execute="fix_os_name.sh" id="SysNamePipeMenu" label="System Status"/>
		</menu>
		<menu execute="ob-kb-pipemenu" id="keybinds" label="Keybinds"/>
		<separator/>
		<item label="Lock Screen">
			<action name="Execute">
				<command>betterlockscreen --lock</command>
			</action>
		</item>
		<menu id="obExit" label="System">
				<item label="Logout">
					<action name="Execute">
						<command>ob_powermenu --logout</command>
					</action>
				</item>
				<item label="Suspend">
					<action name="Execute">
						<command>ob_powermenu --suspent</command>
					</action>
				</item>
				<item label="Reboot">
					<action name="Execute">
						<command>ob_powermenu --reboot</command>
					</action>
				</item>
				<item label="Shutdown">
					<action name="Execute">
						<command>ob_powermenu --shutdown</command>
					</action>
				</item>
		</menu>
	</menu>
</openbox_menu>
<!-- vim:sw=2
-->
