@import "colors.rasi"

* {
    transparency:                   "real";
    background-color:               @background;
    text-color:                     @foreground;
    font:            				"Iosevka 10";
}

#window {
	border:							1px;
    border-radius:                  0px;
    border-color:					@selected;
    width:      					300px;
    y-offset: 						-8%;
    padding:    					20px;
}

#entry {
    expand: 						true;
    width: 							150px;
    text-color:						@urgent;
}
