#
# SPDX-License-Identifier: GPL-3.0-or-later

INCLUDE boot/syslinux/archcraftiso_head.cfg

DEFAULT arch64
TIMEOUT 50

LABEL arch64
TEXT HELP
Boot Archcraft install medium on BIOS.
It allows you to install Archcraft or perform system maintenance.
ENDTEXT
MENU LABEL Archcraft install medium (x86_64, BIOS)
LINUX boot/x86_64/vmlinuz-linux
INITRD boot/intel-ucode.img,boot/amd-ucode.img,boot/x86_64/archiso.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% quiet splash vt.global_cursor_default=0 loglevel=2 rd.systemd.show_status=false rd.udev.log-priority=3 sysrq_always_enabled=1 cow_spacesize=1G

INCLUDE boot/syslinux/archcraftiso_tail.cfg
