* {
    background:                     #212B30ff;
    background-alt:                 #212B30ff;
    foreground:                     #C4C7C5ff;
    border:               			#EC407Aff;
    border-alt:               		#4DD0E1ff;
    selected:               		#EC407A1a;
    urgent:                         #DA4453FF;
}
