[Desktop Entry]
Name=About Creator
Comment=About Aditya Shakya (@adi1090x)
Exec=/usr/local/bin/about.sh
Icon=distributor-logo-archcraft
Type=Application
Categories=GTK;System;Settings;
