#
# SPDX-License-Identifier: GPL-3.0-or-later

[Match]
Name=en*
Name=eth*

[Network]
DHCP=yes
IPv6PrivacyExtensions=yes

[DHCPv4]
RouteMetric=512

[DHCPv6]
RouteMetric=512
