/* Color-Scheme */

* {
    BG:    #141c21ff;
    BGA:   #192126ff;
    FG:    #93a1a1ff;
    BDR:   #2587ccff;
    SEL:   #d12f2cff;
    UGT:   #8086e8ff;
	IMG:   #d12f2cff;
	ON:    #a4bd00ff;
	OFF:   #fa3935ff;
}
