/* Color-Scheme */

* {
    BG:    #212B30ff;
    BGA:   #263035ff;
    FG:    #C4C7C5ff;
    BDR:   #4DD0E1ff;
    SEL:   #4DD0E1ff;
    UGT:   #EC407Aff;
	IMG:   #EC407Aff;
	ON:    #61C766ff;
	OFF:   #EC7875ff;
}
