/*
*  Table of Contents:
*
*/

/*
=====================================================
--------------- VerticalTab Tabs -----------------
=====================================================
*/

.tabs_scroll {
    height: auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;		
}
.nicescroll-rails {
	width: 12px !important;
    background: rgba(0,0,0,0.1) !important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.nicescroll-cursors {
	
} 


/*
--------------- Tabs Style ------------------
*/

.resp-tabs-list {
	padding: 19.5% 0px!important;
}

.VerticalTab.tabs_ver_6.resp-vtabs ul.resp-tabs-list {
    float: right!important;
    width: 17.5%;
	margin-top: 0px !important;
}
.VerticalTab.tabs_ver_6.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: transparent;
	border: 0;
	float: left;
	width: 75%;
	min-height: auto;
	clear: none;
	border-radius: 0;
	margin-left: 13px;
}
.VerticalTab.tabs_ver_6 .resp-tabs-list .logo img {
	max-width: 100%;
	overflow: hidden;
	margin-bottom: 60px;
}
.VerticalTab.tabs_ver_6 .resp-tabs-list li {
	margin: 10px 0px;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	color: #121212;
}

.VerticalTab.tabs_ver_6 .resp-tabs-list .resp-tab-active {
	margin: 10px 0px!important;
	color: #f78b26;
	border: none!important;
}
.VerticalTab.tabs_ver_6 .resp-tabs-list li:hover {
	color: #f78b26;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.VerticalTab.tabs_ver_6 .resp-tabs-list li i {
	font-size: 22px;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	text-align: center;
	position: relative;
	z-index: 2;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display: block;
	color: #fff;
	margin-bottom: 5px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;

}

/*
=====================================================
--------------- Tabs Responsive ------------------
=====================================================
*/

h2.resp-accordion {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #121212;
	margin: 20px 30px;
	list-style: none;
	cursor: pointer;
	background: #fff!important;
	border: 0;
	line-height: 0px;
	cursor: pointer;
	padding: 30px 15px;
	border-left: 0 !important;
	border-right: 0 !important;
}
h2.resp-tab-active {
	margin-bottom: 0px;
	border: none!important;
	padding: 30px 15px!important;
	background: #f78b26!important;
}
h2.resp-accordion:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

h2.resp-accordion .tabs-text {
    position: relative;
    top: -3px;
    left: 0px;
	font-size: 14px;
}

.arrow-tabs {
    float: right;
    margin-top: 10px;
    font-size: 18px !important;
}

h2.resp-accordion .fc_icons {
	font-size: 22px;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	width: 42px !important;
	height: 42px !important;
	text-align: center;
	position: relative;
	z-index: 2;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	line-height: 43px;
	background: #fff !important;
}

.resp-vtabs .resp-tab-content {
	border: none!important;
}



@media only screen and (max-width: 768px){
	.resp-vtabs .resp-tabs-container {
		border: none !important;
		float: none !important;
		width: 100% !important;
		min-height: 250px !important;
		clear: none !important;
	}
	.VerticalTab.tabs_ver_2.resp-vtabs .resp-tabs-container,
	.VerticalTab.tabs_ver_3.resp-vtabs .resp-tabs-container,
	.VerticalTab.tabs_ver_4.resp-vtabs .resp-tabs-container,
	.VerticalTab.tabs_ver_5.resp-vtabs .resp-tabs-container,
	.VerticalTab.tabs_ver_6.resp-vtabs .resp-tabs-container	{
		margin-left: 0;
	}
}
