/* These settings are applicable only for lxdm-gtk3+ */

#lxdm {
	background-image: url("bg.png");
	background-repeat: round;
}

#bottom_pane {
	background-color: rgba(0,0,0,0.24);
}

#time {
	font: Sans 12;
	color: #ffffff;
}

#prompt {
	font: Sans 16;
	color: #FFFFFF;
}

#bottom_pane label,
#bottom_pane GtkLabel {
	font: Sans 14;
	color: #d9d9d9;
}
