@import "colors.rasi"

* {
    background-color:       @BG;
    text-color:             @FG;
	font:				 	"Iosevka 10";
}

window {
    width:      			250px;
    padding:    			20px;
    border:					0px;
    border-radius:          0px;
    border-color:           @BDR;
    location:               center;
    x-offset:               0;
    y-offset:               -8%;
}

entry {
    expand: 				true;
    width: 					150px;
    text-color:				@BDR;
}
